table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th:nth-child(odd),
td:nth-child(odd) {
  background-color: aqua;
}

/* tr:nth-child(even) {
  background-color: aqua;
} */

/* h1:hover {
  color: red;
} */

/* h1:active {
  color: blue;
} */

/* h1:nth-child(even) {
  color: red;
} */

/* h1:nth-child(odd) {
  color: red;
} */
