/* header {
  color: red;
} */

/* header p {
  color: red;
} */

/* header > p {
  color: red;
} */

/* header > div > p {
  color: red;
} */

/* div > p {
  color: red;
} */

/* div + h2 {
  color: red;
} */

/* div ~ h2 {
  color: red;
} */

/* header div > h2 + p {
  color: red;
} */