ul.displayMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #662549;
}

ul.displayMenu li {
  display: inline;
}

ul.displayMenu li a {
  text-decoration: none;
  color: #f5f7f8;
  font-weight: bold;
  padding: 16px;
  display: inline-block;
}

ul.displayMenu li a:hover {
  background-color: #7a3b5e;
}
