ul.floatMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #662549;
  overflow: auto;
}

ul.floatMenu li {
  float: left;
}

ul.floatMenu li a {
  text-decoration: none;
  color: #f5f7f8;
  font-weight: bold;
  padding: 16px;
  display: inline-block;
}

ul.floatMenu li a:hover {
  background-color: #7a3b5e;
}

ul.floatMenu li.right {
  float: right;
}