/* div {
  width: 500px;
  border: 2px solid red;
}

h1 {
  border: 2px solid green;
  width: 300px;
  margin: -8px;
} */

div {
  border: 2px solid black;
}

/* /* h1, h2 {
  border: 4px solid red;
} */

h1, h2 {
  margin: -10px;
  padding: 20px;
}

/* h1 {
  margin: 50px 0px;
}

h2 {
  margin: 20px 0px;
} */

/* a {
  border: 4px solid red;
  display: block;
  margin: 20px;
} */

