a.button {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  background-color: #3d30a2;
  border-radius: 8px;
  font-weight: bold;
  color: #f5f7f8;
}

a.button:hover {
  background-color: #5d53a1;
}

a.dangerButton {
  background-color: #c70039;
}
a.dangerButton:hover {
  background-color: #dc1f54;
}

a.warningButton {
  background-color: #f99417;
}
a.warningButton:hover {
  background-color: #f6a139;
}

a.successButton {
  background-color: #54b435;
}
a.successButton:hover {
  background-color: #70bf56;
}
