body {
  display: grid;
  grid-template-areas:
    'HE HE'
    'NA MA'
    'NA FO';
  grid-template-columns: 250px auto;

  margin: 0;
}

header,
nav,
main,
footer {
  padding: 24px;
}

header {
  grid-area: HE;
  background-color: black;
  color: white;
}
nav {
  grid-area: NA;
  background-color: lightgray;
}
main {
  grid-area: MA;
}
footer {
  grid-area: FO;
  background-color: gray;
}

@media (max-width: 1000px) {
  body {
    grid-template-areas:
      'HE'
      'NA'
      'MA'
      'FO';
    grid-template-columns: auto;
  }
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
  }
}
